.filter {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__btn {
    padding: 6px 22px;
    font-family: inherit;
    background-color: var(--btn-color);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    cursor: pointer;
    transition: background-color var(--anim-hover), box-shadow var(--anim-hover), color var(--anim-hover);

    &:first-child {
    padding-right: 25px;
    padding-left: 25px;
    }

    &:hover,
    &:focus {
        background-color: var(--attention-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        color: var(--background-color);
    }
}




