.subscribe {
    margin-left: auto;
}

.subscribe__wrap {
    display: flex;
    gap: 12px;
}


.subscribe__title {
    display: block;
    margin-bottom: 20px;
}

.subscribe__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color:transparent;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: transparent;

    &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
}



.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 28px;
    width: 200px;
    height: 50px;

    &__icon {
    fill: var(--background-color);
    margin-left: 10px;
    } 
}


