.footer {
    background-color: var(--secondary-bgcolor);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__socials {
    margin-left: 70px;
}

.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    gap: 10px;
}